[submodule "kiali-operator"]
	path = kiali-operator
	url = https://github.com/evry-ace/helm-kiali-operator.git
[submodule "istio-bookinfo"]
	path = istio-bookinfo
	url = https://github.com/evry-ace/helm-istio-bookinfo.git
